include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/temporal *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/temporal/migration *.ini *.py *.mako
